<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:insert="fragments/header.html::head('Product')"></head>
<body>
	<!-- Menu -->
	<div th:replace="fragments/menu.html::menu(currentRoute='/order')"></div>
	
	<div style="margin-top: 130px;"></div>
	
	<div class="container" style="margin-bottom: 50px;">
		<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createOrderModal">Add New Order</a>
	</div>
	
	<!-- product table -->
	<div class="container">
		<div class="mb-5" th:if="${param.success}">
			<span class="alert alert-success d-flex flex-row">商品登録が正常に完了いたしました。</span>
		</div>

		<div class="mb-5" th:if="${param.updated}">
			<span class="alert alert-warning d-flex flex-row">商品変更するのが正常に完了いたしました。</span>
		</div>

		<div class="mb-5" th:if="${param.deleted}">
			<span class="alert alert-danger d-flex flex-row">商品を削除しました。</span>
		</div>
		
		<table id="addressTable" class="table table-bordered table-striped">
			<thead class="thead-dark text-center text-white" style="background-color: rgb(132, 132, 132);">
			  <tr>
				<th scope="col">Address Id</th>
				<th scope="col">Region</th>
				<th scope="col">Address Name</th>
				<th scope="col">Post Code</th>
				<th scope="col">Address</th>
				<th scope="col">Action</th>
			  </tr>
			</thead>
			<tbody>
			  <!-- <tr th:each="address:${deliveryAddresses}" th:object="${address}">
				<th scope="row" style="text-align: right;padding-right: 15px;" th:text="*{deliveryAddressId}"></th>
				<td>
					<div>
						<div th:text="'#'+*{regionId}"></div>
						<div th:text="*{regionName}"></div>
					</div>
				</td>
				<td>
					<span th:text="*{addressName}"></span>
					<span th:if="*{main==1}" class="btn btn-primary btn-sm">main</span>
				</td>
				<td th:text="*{postCode}"></td>
				<td th:text="*{address}"></td>
				<td class="text-center">
					<button 
						action="update" 
					>Edit</button>
					<button 
						action="delete" 
					>Delete</button>
				</td>
			  </tr> -->
			</tbody>
		  </table>

		<!-- Create Order Modal -->
		<div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="createOrderModalTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Create Order</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
			<div class="modal-body">
				<!-- Page One -->
				<div class="createOrderPageOne">
					<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
						<label for="customerId" style="width: 200px;">Customer :</label>
						<select name="customerId" id="customerId" class="form-control">
							<option></option>
							<option th:each="option:${customerOptions}" th:value="${option.value}" th:text="${option.title}"></option>
						</select>
					</div>
					<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
						<label for="addressId" style="width: 200px;">Delivery Address :</label>
						<select name="addressId" id="addressId" class="form-control"></select>
					</div>
				</div>
				
				<!-- Page Two -->
				<div class="createOrderPageTwo" style="display: none;">
					<div class="form-group d-flex flex-row align-items-center">
						<label for="">warehouseDetails</label>
						<!-- warehouse detail data (warehouseDetailId,productName,price,discout,qty) -->
						<input class="form-control" id="warehouseDetails"/>
					</div>
					<div class="form-group d-flex flex-row align-items-center">
						<label for="">orderDetails</label>
						<!-- to orderDetail -->
						<input class="form-control" id="orderDetails" value="[]"/>
					</div>
					<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
						<label for="productId" style="width: 200px;">Product :</label>
						<select name="productId" id="productId" class="form-control">
						</select>
					</div>
					<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
						<label for="productPrice" style="width: 200px;">Price :</label>
						<input disabled type="text" name="productPrice" id="productPrice" class="form-control"/>
					</div>
					<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
						<label for="productDiscount" style="width: 200px;">Discount % :</label>
						<input disabled type="text" name="productDiscount" id="productDiscount" class="form-control"/>
					</div>
					<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
						<label for="productQty" style="width: 200px;">Qty :</label>
						<input type="text" name="productQty" id="productQty" value="1" class="form-control"/>
					</div>
					<div style="display: none;">
						<span id="add-product-err" class="alert alert-warning"></span>
					</div>
					<div class="d-flex justify-content-center">
						<button class="btn btn-success" id="add-product-btn">Add Product</button>
					</div>
					<table class="table table-bordered" style="margin-top: 20px;display: none;">
						<thead>
						  <tr>
							<th scope="col">No.</th>
							<th scope="col">Product</th>
							<th scope="col">Price</th>
							<th scope="col">Qty</th>
							<th scope="col">Total</th>
						  </tr>
						</thead>
						<tbody id="table-body">
							<!-- Inject Here -->
						</tbody>
					  </table>
				</div>
				<div style="display: none;margin-top: 30px;">
					<span class="alert alert-warning" id="createOrderErr"></span>
				</div>
			</div>
			<div class="createOrderPageOne">
				<div class="modal-footer d-flex justify-content-center">
					<button id="next" type="button" class="btn btn-secondary">Next</button>
				</div>
			</div>
			<div class="createOrderPageTwo" style="display: none;">
				<div class="modal-footer d-flex justify-content-center">
					<button id="prev" type="button" class="btn btn-secondary">Previous</button>
					<button id="create-order" type="button" class="btn btn-primary">Create Order</button>
				</div>
			</div>
			</div>
		</div>
		</div>
	</div>

  <!-- common function -->
  <script>
	var reload = (param)=>{
		if(!param){
			window.location.href = window.location.href;
			return;
		}

		if(window.location.href.includes("?")){
			window.location.href = window.location.href.split("?")[0] + `?${param}`;
		}else{
			window.location.href = window.location.href + `?${param}`;
		}
	}
	$(document).ready(function(){
		// $('#addressTable').DataTable();
	})
  </script>
  <!-- order create -->
  <script>
	const removeProduct = (warehouse_detail_id)=>{
		warehouse_detail_id = parseInt(warehouse_detail_id);
		const orderDetailsStr = $("#orderDetails").val();
		let orderDetailsArr = JSON.parse(orderDetailsStr);
		orderDetailsArr = orderDetailsArr.filter(({warehouse_detail_id: id})=>id!=warehouse_detail_id);
		$("#orderDetails").val(JSON.stringify(orderDetailsArr));
		renderTable();
	}

	const renderTable = ()=>{
		const orderDetailsStr = $("#orderDetails").val();
		let orderDetailsArr = JSON.parse(orderDetailsStr);
		// Inject table
		const tableBodyEle = $("#table-body");
		if(orderDetailsArr.length>0){
			tableBodyEle.parent().show();
		}else{
			tableBodyEle.parent().hide();
			return;
		}
		const warehouseDetailsStr = $("#warehouseDetails").val();
		const warehouseDetails = JSON.parse(warehouseDetailsStr);
		let html = "";
		let tax = 0;
		let grandTotal = 0;
		orderDetailsArr.map(({warehouse_detail_id,qty},index)=>{
			const [currentWarehouseDetail] = warehouseDetails.filter(({warehouseDetailId:id})=>id==warehouse_detail_id);
			if(currentWarehouseDetail){
				let {warehouseDetailId,price,discount,productName} = currentWarehouseDetail;
				price = Math.round(price * (1-(discount/100)));
				const total = price * qty;
				grandTotal+=total;
				html+=`
					<tr>
						<th scope="row">${index+1} <span class="text-danger" onclick="removeProduct(${warehouseDetailId})">(-)</span></th>
						<td>${productName}</td>
						<td style="text-align: right;">${discount>0? '('+discount+'% off)':''} ${price}</td>
						<td style="text-align: right;">${qty}</td>
						<td style="text-align: right;">${total}</td>
					</tr>
				`;
			}
		})
		tax = Math.round( grandTotal * (0.08) );
		grandTotal = Math.round( grandTotal * (1.08) );
		html+=`
			<tr>
				<td colspan="4" class="text-center font-weight-bold">Tax</td>
				<td style="text-align: right;">${tax}</td>
			</tr>
			<tr>
				<td colspan="4" class="text-center font-weight-bold"> Grand Total</td>
				<td style="text-align: right;">${grandTotal}</td>
			</tr>
		`;
		tableBodyEle.html(html);
	}



	$(document).ready(function(){

		const isDecimal = (num)=>{
			return num%1>0;
		}

		const setError = (id,msg)=>{
			const errorEle = $(`#${id}`);
			if(msg){
				errorEle.text(msg);
				errorEle.parent().show();
			}else{
				errorEle.parent().hide();
			}
		}
		
		const renderSelectOption = (element,addressOptions)=>{
			if(addressOptions && addressOptions.length>0){
				let addressOptionElementStr = '<option value=""></option>';

				addressOptions.map(({value,title})=>{
					addressOptionElementStr += `<option value="${value}">${title}</option>`
				});
				$(element).html(addressOptionElementStr);
			}else{
				$(element).html(`<option value=""></option>`);
			}
		}

		$("#prev").click(()=>{
			renderSelectOption($("#productId"),[]);
			$(".createOrderPageOne").toggle();
			$(".createOrderPageTwo").toggle();
		})

		$("#next").click(()=>{
			const addressId = $("#addressId").val();
			const createOrderErrEle = $("#createOrderErr");
			createOrderErrEle.parent().hide();

			if(!addressId>0){
				createOrderErrEle.text("配達先を選択してください！");
				createOrderErrEle.parent().show();
				return;
			}

			if(addressId){
				const url = `api/v1/address/${addressId}/products`;
				const method = "GET";
				const headers = {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				};
				fetch(
					url, 
					{method, headers})
					.then((response)=>{
						if (response.ok) {
							return response.json().then((ans)=>{
								if(ans.data.length>0){
									$("#warehouseDetails").val(JSON.stringify(ans.data));
									renderSelectOption($("#productId"),ans.data.map(({warehouseDetailId,productName})=>({value: warehouseDetailId,title: productName})));
									$(".createOrderPageOne").toggle();
									$(".createOrderPageTwo").toggle();
									
								}else{
									createOrderErrEle.text("選んだ配達先側の在庫に注文できる商品がまだないです！");
									createOrderErrEle.parent().show();
								}
							})
						} else {
							return response.json().then(error => {
								// bindingResult(error);
								throw new Error('Error response received'); // Throw an error to trigger the catch block
							});
						}
					})
					.catch((error)=>{
					console.log(error);
				});	
			}
		});

		$("#customerId").change(function(){
			const customerId = $(this).val();
			if(customerId){
				const url = `api/v1/customer/${customerId}/address`;
				const method = "GET";
				const headers = {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				};
				fetch(
					url, 
					{method, headers})
					.then((response)=>{
						if (response.ok) {
							return response.json().then((ans)=>{
								renderSelectOption($("#addressId"),ans.data);
							})
						} else {
							return response.json().then(error => {
								// bindingResult(error);
								throw new Error('Error response received'); // Throw an error to trigger the catch block
							});
						}
					})
					.catch((error)=>{
					console.log(error);
				});	
			}
		})

		$("#productId").change(function(){
			const warehouseDetailId = $(this).val();
			if(warehouseDetailId>0){
				const warehouseDetailsStr = $("#warehouseDetails").val();
				const warehouseDetails = JSON.parse(warehouseDetailsStr);
				if(warehouseDetails.length>0){
					const [currentWarehouseDetail] = warehouseDetails.filter(({warehouseDetailId:id})=>id==warehouseDetailId);
					if(currentWarehouseDetail){
						const {price,discount} = currentWarehouseDetail;
						$("#productPrice").val(price);
						$("#productDiscount").val(discount);
						$("#productQty").val("1");
					}
				}
				// const [warehouseDetail] = $()
			}
		});

		const addProduct = ({warehouse_detail_id,qty})=>{
			warehouse_detail_id = parseInt(warehouse_detail_id);
			qty = parseInt(qty);
			console.log({warehouse_detail_id,qty});
			const orderDetailsStr = $("#orderDetails").val();
			let orderDetailsArr = JSON.parse(orderDetailsStr);
			if(orderDetailsArr.filter(({warehouse_detail_id: id})=>id==warehouse_detail_id).length>0){
				orderDetailsArr = orderDetailsArr.map(({warehouse_detail_id:id,qty: q})=>{
					if(id==warehouse_detail_id){
						q = qty;
					}
					return {warehouse_detail_id:id,qty: q};
				})
			}else{
				orderDetailsArr = [...orderDetailsArr,{warehouse_detail_id,qty}];
			}
			$("#orderDetails").val(JSON.stringify(orderDetailsArr));
			renderTable();
		}

		$("#add-product-btn").click(()=>{
			setError("add-product-err");
			// productId productQty add-product-err
			const warehouseDetailId = $("#productId").val();
			const qty = $("#productQty").val();
			if(warehouseDetailId && qty>0){
				if(isDecimal(qty)){
					// setError
					setError("add-product-err",`注文数${qty}はできません。有効な数字を入力してください。`);
					return;
				}
				addProduct({warehouse_detail_id: warehouseDetailId,qty});
			}else{
				// setError
				setError("add-product-err","商品を選択の上注文数を入力してください。");
			}
		});
		
		$("#create-order").click(()=>{
			const orderDetails = $("#orderDetails").val();
			console.log(orderDetails);
			const customerId =  $("#customerId").val();
			const deliveryAddressId =  $("#addressId").val();
			const method = 'POST';
			const body = JSON.stringify({
				order_details : JSON.parse(orderDetails),
				customer_id: JSON.parse(customerId),
				delivery_address_id :JSON.parse(deliveryAddressId)
			});
			const headers = {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			};
			console.log(body);
			if($("#warehouseDetails").val()){
				fetch(
					(`api/v1/order`),
					{
						method,
				        headers,
				        body										
					}
				).then((res)=>{
					if(res.ok){
						return res.json().then((ans)=>{
							console.log("final ans",ans);
						})
					}else{
						console.log("eeerror");
					}
				})
			}
		})
	})
  </script>
  
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>