<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:insert="fragments/header.html::head('Product')"></head>
<body>
	<!-- Menu -->
	<div th:replace="fragments/menu.html::menu(currentRoute='/product')"></div>
	
	<div style="margin-top: 130px;"></div>
	
	<div class="container" style="margin-bottom: 50px;">
		<a th:href="@{/product/create}" class="btn btn-primary">Add Product Page</a>
		<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal">Add Product Model</a>
	</div>
	
	<!-- product table -->
	<div class="container">
		<div class="mb-5" th:if="${param.success}">
			<span class="alert alert-success d-flex flex-row">商品登録が正常に完了いたしました。</span>
		</div>

		<div class="mb-5" th:if="${param.updated}">
			<span class="alert alert-warning d-flex flex-row">商品変更するのが正常に完了いたしました。</span>
		</div>

		<div class="mb-5" th:if="${param.deleted}">
			<span class="alert alert-danger d-flex flex-row">商品を削除しました。</span>
		</div>
		
		<table id="productTable" class="table table-bordered table-striped">
			<thead class="thead-dark text-center text-white" style="background-color: rgb(132, 132, 132);">
			  <tr>
				<th scope="col">ID</th>
				<th scope="col">Product</th>
				<th scope="col" class="">Category Name</th>
				<th scope="col">Price</th>
				<th scope="col">Discount %</th>
				<th scope="col">Number Of order</th>
				<th scope="col">Action</th>
			  </tr>
			</thead>
			<tbody>
			  <tr th:each="product:${products}" th:object="${product}">
				<th scope="row" style="text-align: right;padding-right: 15px;" th:text="*{productId}"></th>
				<td>
					<div>
						<div th:text="*{productName}"></div>
						<div th:text="*{productCode}"></div>
					</div>
				</td>
				<td th:text="*{categoryName}"></td>
				<td th:text="'¥' + *{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}" style="text-align: right;"></td>
				<td style="text-align: right;"><span th:text="*{discount}"></span>%</td>
				<td style="text-align: right;">14</td>
				<td class="text-center">
					<button 
						action="update" 
						th:data-id="*{productId}"
						th:data-name="*{productName}"
						th:data-code="*{productCode}"
						th:data-category="*{categoryId}"
						th:data-price="*{price}"
						th:data-discount="*{discount}"
						class="m-3" 
						data-toggle="modal" data-target="#updateProductModal"
					>Edit</button>
					<button 
						action="delete" 
						th:data-id="*{productId}"
						class="btn btn-danger" 
						data-toggle="modal" 
						data-target="#deleteProductModal"
					>Delete</button>
				</td>
			  </tr>
			</tbody>
		  </table>
	</div>

  <!-- Create Product Modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="productName" class="" style="width: 200px;">Product Name: </label>
				<input class="form-control" type="text" name="productName" id="productName" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="productName-err"></span>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="productCode" class="" style="width: 200px;">Product Code: </label>
				<input class="form-control" type="text" name="productCode" id="productCode" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="productCode-err"></span>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="categoryId" style="width: 200px;">Category :</label>
				<select name="categoryId" id="categoryId" class="form-control">
					<option th:each="option:${categoryOptions}" th:value="${option.value}" th:text="${option.title}"></option>
				</select>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="price" class="" style="width: 200px;">Price: </label>
				<input class="form-control" type="text" name="price" id="price" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="price-err"></span>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="discount" class="" style="width: 200px;">Discount: </label>
				<input class="form-control" type="text" name="discount" id="discount" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="discount-err"></span>
			</div>
		</div>
		<div class="modal-footer d-flex justify-content-center">
		  <button type="button" id="add-product-action" class="btn btn-primary">Add Product</button>
		</div>
	  </div>
	</div>
  </div>

  <!-- Update Product Modal -->
  <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="updateProductModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">Update Product</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<!-- product id  -->
			<input type="hidden" id="updateProductId"/>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="updateProductName" class="" style="width: 200px;">Product Name: </label>
				<input class="form-control" type="text" name="updateProductName" id="updateProductName" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="update-productName-err"></span>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="updateProductCode" class="" style="width: 200px;">Product Code: </label>
				<input class="form-control" type="text" name="updateProductCode" id="updateProductCode" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="update-productCode-err"></span>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="updateCategoryId" style="width: 200px;">Category :</label>
				<select name="updateCategoryId" id="updateCategoryId" class="form-control">
					<option th:each="option:${categoryOptions}" th:value="${option.value}" th:text="${option.title}"></option>
				</select>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="updatePrice" class="" style="width: 200px;">price: </label>
				<input class="form-control" type="text" name="updatePrice" id="updatePrice" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="update-price-err"></span>
			</div>
			<div class="form-group d-flex flex-row align-items-center" style="margin-bottom: 10px;">
				<label for="updateDiscount" class="" style="width: 200px;">Discount: </label>
				<input class="form-control" type="text" name="updateDiscount" id="updateDiscount" />
			</div>
			<div style="margin-top: 10px;display: none;">
				<span class="alert alert-warning d-flex flex-row" id="update-discount-err"></span>
			</div>
		</div>
		<div class="modal-footer d-flex justify-content-center">
		  <button type="button" id="update-product-action" class="btn btn-primary">Update</button>
		</div>
	  </div>
	</div>
  </div>

  <!-- Delete Product Modal -->
  <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title text-center" id="exampleModalLongTitle">Delete Product</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<input type="hidden" id="delete-product-id"/>
			<div class="text-danger h4 text-center">Are you sure want to delete?</div>
			<a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perspiciatis est cupiditate quo saepe eum iste,</a>
		</div>
		<div class="modal-footer d-flex justify-content-center">
			<button type="button" data-toggle="modal" data-target="#deleteProductModal" class="btn btn-success">Cancel</button>
		  	<button type="button" id="delete-product-action" class="btn btn-danger">Delete</button>
		</div>
	  </div>
	</div>
  </div>
  <!-- common function -->
  <script>
	const init = ()=>{
		$('#productTable').DataTable();
	}
	var reload = (param)=>{
		if(!param){
			window.location.href = window.location.href;
			return;
		}

		if(window.location.href.includes("?")){
			window.location.href = window.location.href.split("?")[0] + `?${param}`;
		}else{
			window.location.href = window.location.href + `?${param}`;
		}
	}

	$(document).ready(function(){
		// init();
		// $('#productTable').DataTable();
	})
  </script>
  <!-- product create -->
  <script>
	  $(document).ready(function(){
		  	const errorElements = {
			  name: $("#productName-err"),
			  code: $("#productCode-err"),
			  price: $("#price-err"),
			  discount: $("#discount-err")
			}
			const createProductData = {
				categoryId: $("#categoryId"),
				productName: $("#productName"),
				productCode: $("#productCode"),
				price: $("#price"),
				discount: $("#discount")
			}
			const setError = (ele,msg)=>{
				ele.text(msg);
				ele.parent().show();
			}
			const clearError = ()=>{
			errorElements.name.parent().hide();
			errorElements.code.parent().hide();
			errorElements.price.parent().hide();
			errorElements.discount.parent().hide();
		}
		const isNumeric = (str) => {
			if (typeof str != "string") return false // we only process strings!  
			return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
			!isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
		}
		/* 1. clear error msg & 2. frontend side validate*/
		const validate = ()=>{
			clearError();
			let validate = true;
			if(!createProductData.productName.val()){
				setError(errorElements.name,"Product Name is required!");
				validate=false;
			}
			if(!createProductData.productCode.val()){
				setError(errorElements.code,"Produt Code is required!");
				validate=false;
			}
			if(!isNumeric(createProductData.price.val())){
				setError(errorElements.price,"Price must be number");
				validate=false;
			}
			if(!isNumeric(createProductData.discount.val())){
				setError(errorElements.discount,"Discount must be number");
				validate=false;
			}
			return validate;
		}
		
		const bindingResult = (error)=>{
			if(error.errors){
				if(error.errors.product_name){
					setError(errorElements.name,error.errors.product_name);
				}
				if(error.errors.product_code){
					setError(errorElements.code,error.errors.product_code);
				}
				if(error.errors.price){
					setError(errorElements.price,error.errors.price);
				}
				if(error.errors.discount){
					setError(errorElements.discount,error.errors.discount);
				}
			}
		}
		
		/* Add Product Action */
		$("#add-product-action").click(()=>{
			if(validate()){
				// 3. api call (fetch)
				const url = "api/v1/product"
				const method = "POST";
				const body = JSON.stringify({
					category_id: $("#categoryId").val(),
					price: createProductData.price.val(),
					discount: createProductData.discount.val(),
					product_code: createProductData.productCode.val(),
					product_name: createProductData.productName.val()
				});
				const headers = {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				};
				fetch(
					url, 
					{method, headers, body})
					.then((response)=>{
						if (response.ok) {
							reload("success")
						} else {
							return response.json().then(error => {
								bindingResult(error);
								throw new Error('Error response received'); // Throw an error to trigger the catch block
							});
						}
					})
					.catch((error)=>{
					console.log(error);
				});	
			}
		});
	})
  </script>
  
  <!-- product update -->
  <script>
	$(document).ready(function(){
		
		/* common element */
		const updateProductEle = {
			id: $("#updateProductId"),
			name: $("#updateProductName"),
			code: $("#updateProductCode"),
			category: $("#updateCategoryId"),
			price: $("#updatePrice"),
			discount: $("#updateDiscount"),
		}

		const errorElements = {
			name: $("#update-productName-err"),
			code: $("#update-productCode-err"),
			price: $("#update-price-err"),
			discount: $("#update-discount-err")
		}

		const clearError = ()=>{
			errorElements.name.parent().hide();
			errorElements.code.parent().hide();
			errorElements.price.parent().hide();
			errorElements.discount.parent().hide();
		}

		/* common element */
		
		/* Open Update Product Modal */
		$("button[action='update']").click(function(){
			const currentProduct = {
				id: $(this).data('id'),
				name: $(this).data('name'),
				code: $(this).data('code'),
				category: $(this).data('category'),
				price: $(this).data('price'),
				discount: $(this).data('discount')
			}

			/* Load Data */
			updateProductEle.id.val(currentProduct.id);
			updateProductEle.name.val(currentProduct.name);
			updateProductEle.code.val(currentProduct.code);
			updateProductEle.category.val(currentProduct.category);
			updateProductEle.price.val(currentProduct.price);
			updateProductEle.discount.val(currentProduct.discount);
			
			clearError();
		})

		/* Open Delete Product Modal */
		$("button[action='delete']").click(function(){
			const productId = $(this).data('id');
			/* Load Data */
			$("#delete-product-id").val(productId);
		})

		/* Update Action */
		$("#update-product-action").click(()=>{
			
			const setError = (ele,msg)=>{
				ele.text(msg);
				ele.parent().show();
			}

			const isNumeric = (str) => {
				if (typeof str != "string") return false // we only process strings!  
				return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
				!isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
			}
			/* 1. clear error msg & 2. frontend side validate*/
			const validate = ()=>{
				clearError();
				let validate = true;
				if(!updateProductEle.name.val()){
					setError(errorElements.name,"Product Name is required!");
					validate=false;
				}
				if(!updateProductEle.code.val()){
					setError(errorElements.code,"Produt Code is required!");
					validate=false;
				}
				if(!isNumeric(updateProductEle.price.val())){
					setError(errorElements.price,"Price must be number");
					validate=false;
				}
				if(!isNumeric(updateProductEle.discount.val())){
					setError(errorElements.discount,"Discount must be number");
					validate=false;
				}
				return validate;
			}

			const bindingResult = (error)=>{
				if(error.errors){
					if(error.errors.product_name){
						setError(errorElements.name,error.errors.product_name);
					}
					if(error.errors.product_code){
						setError(errorElements.code,error.errors.product_code);
					}
					if(error.errors.price){
						setError(errorElements.price,error.errors.price);
					}
					if(error.errors.discount){
						setError(errorElements.discount,error.errors.discount);
					}
				}
			}
			if(validate()){
				// 3. api call (fetch)
				const url = `api/v1/product/${updateProductEle.id.val()}`
				const method = "PUT";
				const body = JSON.stringify({
					category_id: updateProductEle.category.val(),
					price: updateProductEle.price.val(),
					discount: updateProductEle.discount.val(),
					product_code: updateProductEle.code.val(),
					product_name: updateProductEle.name.val()
				});
				const headers = {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				};
				fetch(
					url, 
					{method, headers, body})
					.then((response)=>{
						if (response.ok) {
							reload("updated");
							//init();
						} else {
							return response.json().then(error => {
								bindingResult(error);
								throw new Error('Error response received'); // Throw an error to trigger the catch block
							});
						}
					})
					.catch((error)=>{
					console.log(error);
				});	
			}
			
		});

		/* Delete Action */
		$("#delete-product-action").click(()=>{
			const url = `api/v1/product/${$("#delete-product-id").val()}`;
			const method = "DELETE";
			const headers = {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			};
			fetch(
				url, 
				{method, headers})
				.then((response)=>{
					if (response.ok) {
						reload("deleted");
						// window.location.href = window.location.href + "?deleted";
					} else {
						return response.json().then(error => {
							// bindingResult(error);
							throw new Error('Error response received'); // Throw an error to trigger the catch block
						});
					}
				})
				.catch((error)=>{
				console.log(error);
			});	
		})
	
		$('#productTable').DataTable();
	})
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>